.IPL-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 90%;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.points-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

.points-table th,
.points-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.points-table th {
  background-color: #007bff;
  color: white;
}

.points-table tr {
  background-color: #f4f4f4b0;
}

.points-table tr:hover {
  background-color: #f4f4f464;
}
